#signup
  .signin-hero
    .user-hero
      .container
        .row
          .col.s12.center-align
            %h2 Sign In
  .container
    .row.signupform
      = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        = f.error_notification
        .col.s8.offset-s2
          .form-inputs
            = f.input :email, placeholder: "email", required: false, autofocus: true
            = f.input :password, placeholder: "password", required: false
            = f.input :remember_me, as: :boolean if devise_mapping.rememberable?

          .form-actions
            = f.button :submit, "Log in" 

            = render "devise/shared/links" 
